<div class="container-fluid">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4><%= current_user.name %></h4>
                </div>
                <ul class="list-group">
                    <li class="list-group-item">
                        <h5><%= @subscription.name %></h5>
                    </li>
                    <li class="list-group-item">
                        <p>Data de início da assinatura: <%= l @subscription.init_date %></p>
                        <% if @subscription.status == 'trial' %>
                            <p>Término do período de degustação: <%= l @subscription.valid_until %></p>
                            <p>
                                <% if @subscription.valid_until.past? %>
                                    O período de degustação desta assinatura está expirado.
                                <% else %>
                                    Você ainda tem <%= distance_of_time_in_words(Date.today, @subscription.end_date) %> para avaliar nosso produto.
                                <% end %>
                                Para efetuar a compra, clique <b><%= checkout_link(token: current_user.token) %></b>.
                            </p>
                        <% elsif @subscription.overdue == true && @subscription.status != 'cancelled' %>
                            <p>
                                O seu contrato encontra-se com pagamentos em atraso, por isso, o seu acesso está bloqueado.
                                Para efetuar a regularização de seu contrato, clique <b><%= checkout_link(token: current_user.token) %></b>.
                                Se você já efetuou esta operação, o acesso ao produto será liberado somente após o pagamento da cobrança.
                            </p>
                        <% elsif @subscription.status == 'established' %>
                            <p class="text-success">
                                Assinatura ativa.
                            </p>
                        <% elsif @subscription.status == 'cancelled' %>
                            <p>Término da assinatura: <%= l @subscription.end_date %></p>
                            <p class="text-danger">
                                Sua assinatura foi cancelada recentemente. Se este cancelamento não foi feito por você, por favor, entre em contato com nossa Central de Atendimento.
                            </p>
                            <p><b>Para ter acesso ao produto novamente, você pode:</b></p>
                            <p>
                                <ul>
                                    <li>
                                        retornar à <%= link_to 'página principal', logout_path %> e criar uma nova assinatura para um de nossos planos, ou
                                    </li>
                                    <li>
                                        clicar <%= checkout_link(token: current_user.token) %> para realizar uma nova compra para este plano.
                                    </li>
                                </ul>
                            </p>
                        <% end %>
                        <p>
                            Clique <b><%= subscription_dashboard_link(token: current_user.token) %></b> para acessar o seu histórico de pagamentos, dados de cobrança e forma de pagamento.
                        </p>
                    </li>
                    <li class="list-group-item">
                        <h5>Detalhes do Plano</h5>
                    </li>
                    <li class="list-group-item">
                        <ul>
                            <li><p><%= @subscription.plan.name %></p></li>
                            <% if @subscription.plan.features.any? %>
                                <% @subscription.plan.features.each do |feature| %>
                                    <li><%= feature.description %></li>
                                <% end %>
                            <% end %>
                            <li><p>Preço: <%= number_to_currency(@subscription.plan.price) %></p></li>
                            <li><p>Pagamento feito <%= @subscription.plan.translated_billing_period.downcase %></p></li>
                        </ul>
                    </li>
                    <% unless @subscription.status == 'cancelled' or @subscription.overdue == true %>
                        <li class="list-group-item">
                            <h5>Planos disponíveis para você</h5>
                        </li>
                        <li class="list-group-item">
                            <% if @plans.none? { |plan| plan.name != @subscription.plan.name } %>
                                <p>Não há planos disponíveis no momento.</p>
                            <% else %>
                                <div class="row">
                                    <% @plans.reject { |plan| plan.name == @subscription.plan.name }.each do |plan| %>
                                        <div class="col-sm-6">
                                            <div class="panel panel-default">
                                                <div class="panel-heading">
                                                    <b><%= plan.name %></b>
                                                </div>
                                                <div class="panel-body">
                                                    <ul class="list-group">
                                                        <li class="list-group-item">
                                                        </li>
                                                        <li class="list-group-item">
                                                            <p><%= plan.description %></p>
                                                        </li>
                                                        <% if plan.features.any? %>
                                                            <li class="list-group-item">
                                                                <div>
                                                                    <h5>O que este plano oferece?</h5>
                                                                    <% plan.features.each do |feature| %>
                                                                        <p><%= feature.description %></p>
                                                                    <% end %>
                                                                </div>
                                                            </li>
                                                        <% end %>
                                                        <li class="list-group-item">
                                                            <p><b>Preço: </b><%= number_to_currency plan.price %></p>
                                                            <p>Pagamento feito <%= plan.translated_billing_period.downcase %></p>
                                                        </li>
                                                        <li class="list-group-item">
                                                            <div class="col-sm-offset-3">
                                                                <h4><%= plan_modification_link(@subscription, plan, token: current_user.token)%></h4>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    <% end %>
                                </div>
                            <% end %>
                        </li>
                        <% unless @subscription.status == 'trial' %>
                            <li class="list-group-item">
                                <h5>Cancelamento de assinatura</h5>
                            </li>
                            <li class="list-group-item">
                                <p style="display: inline;">
                                    Sente-se insatisfeito com o nosso produto?&nbsp;&nbsp;
                                </p>
                                <%= link_to 'Cancelar Assinatura', cancel_subscription_path(token: current_user.token), class: 'btn btn-danger' %>
                        </p>
                        <p class="text-muted">
                            Antes de prosseguir com o cancelamento, lembramos que este processo não pode ser revogado após processado. Caso necessite de ajuda, entre em contato com nossa Central de Atendimento.
                        </p>
                            </li>
                        <% end %>
                    <% end %>
                    <li class="list-group-item">
                        <p>
                            O token do seu contrato é <%= current_user.token %> (para login)
                        </p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
