<div class="page-header">
    <h1 class="page-title">Planos</h1>
</div>
<div class="container-fluid">
    <div class="row">
        <% @plans.each do |plan| %>
            <div class="col-sm-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3><%= plan.name %></h3>
                    </div>
                    <div class="panel-body">
                        <ul class="list-group">
                            <li class="list-group-item">
                                <div>
                                    <h5>Para quem este plano é indicado?</h5>
                                    <p><%= plan.description %></p>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div>
                                    <p>
                                        <h4>Preço: </h4><%= number_to_currency(plan.price) %>
                                    </p>
                                </div>
                            </li>
                            <% if plan.features.any? %>
                                <li class="list-group-item">
                                    <div>
                                        <h5>O que este plano oferece?</h5>
                                        <% plan.features.each do |feature| %>
                                            <p><%= feature.description %></p>
                                        <% end %>
                                    </div>
                                </li>
                            <% end %>
                            <li class="list-group-item">
                                <div class="col-sm-offset-3">
                                    <p>
                                        <h3><%= link_to('Experimente!', new_subscription_path(plan_id: plan.id)) %></h3>
                                    </p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        <% end %>
    </div>
</div>
